.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  @media (min-width: 30em) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "title title title"
      "image description description"
      "image price add";
    padding: 2rem;
    gap: 2rem;
  }

  h1 {
    grid-area: title;
    font-size: 2rem;
    font-weight: 600;
  }

  img {
    grid-area: image;
  }
}

.description {
  grid-area: description;
}

.price {
  grid-area: price;
  font-size: 1.2rem;
}

.add {
  grid-area: add;
  max-height: fit-content;
  padding: 0.2rem;
  border: 1px solid grey;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}
