.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;

  li {
    padding: 1rem;
  }
}

.basket {
  position: fixed;
  border: 1px solid grey;
  display: none;
}

.visible {
  display: block;
}
